@import "tailwindcss";

@theme {
  --color-primary: #001F3F;
  /* Dark Blue */
  --color-primary-light: #003366;
  --color-accent: #00FFFF;
  /* Cyan */
  --color-accent-electric: #7DF9FF;
  /* Electric Blue */
  --color-background-dark: #0a0a0a;
  /* Deep Black */

  --font-inter: var(--font-inter);
}

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

/* Custom Utilities */
@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  }
}